<template>
  <div :class="[isLight ? 'lightSpinner' : 'darkSpinner']" class="lds-ring-sm">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>

<script>
export default {
  name: "MiniSpinner",
  props: {
    isLight: {
      type: Boolean,
      default: false,
    },
  },
};

// stili possibili: "base" (default), "sm", "md"
</script>

<style scoped>
.darkSpinner div {
  border: 2px solid rgb(156, 163, 175);
  border-color: rgb(156, 163, 175) transparent transparent transparent;
}
.lightSpinner div {
  border: 2px solid rgb(243, 244, 246);
  border-color: rgb(243, 244, 246) transparent transparent transparent;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* sm */
.lds-ring-sm {
  display: flex;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-ring-sm div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  /* margin: 4px; */
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring-sm div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring-sm div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring-sm div:nth-child(3) {
  animation-delay: -0.15s;
}
</style>
