<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :class="classes"
    fill="currentColor"
    viewBox="0 0 450 308"
  >
    <path
      d="m241.47262,295.46406a151.641,151.641 0 0 1 -42.3,-24.694l-80.75,0a16.6,16.6 0 1 1 0,-33.192l50.6,0a16.6,16.6 0 0 0 0,-33.192l-118.605,0a16.6,16.6 0 0 1 0,-33.192l83.892,0a16.6,16.6 0 0 0 0,-33.192l-38.557,0a16.6,16.6 0 1 1 0,-33.192l89.86,0a16.6,16.6 0 1 0 0,-33.192l-27.118,0a16.6,16.6 0 0 1 0,-33.192l38.655,0c3.644,-3.136 7.489,-6.07 11.435,-8.905a156.441,156.441 0 0 1 26.313,-14.774a151.98,151.98 0 0 1 60.815,-12.747a154.087,154.087 0 0 1 30.56,3.036a148.958,148.958 0 0 1 28.435,8.8a153.789,153.789 0 0 1 25.705,13.964a151.947,151.947 0 0 1 40.984,40.984a153.878,153.878 0 0 1 13.965,25.7a156.953,156.953 0 0 1 8.8,28.436a163.21,163.21 0 0 1 3.135,31.067a154.227,154.227 0 0 1 -3.036,30.56a148.965,148.965 0 0 1 -8.8,28.436a153.915,153.915 0 0 1 -13.965,25.7a151.772,151.772 0 0 1 -40.984,40.984a153.915,153.915 0 0 1 -25.7,13.964a150.407,150.407 0 0 1 -59,11.84l-0.8,0a148.721,148.721 0 0 1 -53.539,-10.007zm90.87,-185.389a60.108,60.108 0 0 1 14.063,1.719a16.86,16.86 0 0 1 8.81,5.263c1.716,2.124 1.515,3.543 1.716,7.084a60.336,60.336 0 0 1 -1.716,14.066l-15.784,75.593l36.935,0l17.6,-75.592a100.826,100.826 0 0 0 1.823,-28.133a28.362,28.362 0 0 0 -7.085,-17.607a34.726,34.726 0 0 0 -17.6,-10.526a109.608,109.608 0 0 0 -29.853,-3.542l-45.741,0a139.47,139.47 0 0 0 -31.668,3.542a61.275,61.275 0 0 0 -22.871,10.526a47.69,47.69 0 0 0 -14.066,17.607c-3.644,7.489 -6.476,17.3 -8.8,28.133l-17.615,75.592l38.652,0l15.789,-75.592c1.211,-5.668 1.819,-10.526 3.54,-14.066c1.719,-3.643 4.348,-4.96 7.084,-7.084a27.2,27.2 0 0 1 10.523,-5.263a73.352,73.352 0 0 1 14.063,-1.719l42.201,-0.001zm-314.107,27.625a16.6,16.6 0 0 1 0,-33.192l30.968,0a16.6,16.6 0 1 1 0,33.192l-30.968,0zm77.517,-66.281a16.6,16.6 0 1 1 0,-33.192l16.29,0a16.6,16.6 0 1 1 0,33.192l-16.29,0z"
    />
  </svg>
</template>

<script>
export default {
  name: "Nibble",
  props: ["classes"],
};
</script>
