<template>
  <!-- <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    x="0px"
    y="0px"
    viewBox="0 0 1000 1000"
    enable-background="new 0 0 1000 1000"
    xml:space="preserve"
    fill="currentColor"
  >
    <g>
      <path
        d="M166.6,542.6c11.5,0,21-9.1,21-20.7V278c0-11.5-9.5-20.2-21-20.2c-11,0-19.9,8.7-19.9,20.2V522C146.7,533.5,155.6,542.6,166.6,542.6L166.6,542.6z M124.7,756.2L124.7,756.2c11.8,12.3,29,20.3,47.7,20.3c18.9,0,35.5-7.6,48.1-19.9l0.6-0.4l0,0c12.5-12.4,20.1-29.5,20.1-48.5c0-18.9-7.6-36.3-20.1-48.4l0,0l0,0c-12.5-12.5-29.4-20.1-48.6-20.1c-18.7,0-35.9,7.5-47.7,20.1l0,0c-12.6,12.6-20.6,29.5-20.6,48.4c0,18.3,7.5,35.1,19.1,47.4L124.7,756.2L124.7,756.2z M153.1,687.8L153.1,687.8c4.8-5,11.8-7.8,19.4-7.8c8.3,0,15.1,2.8,19.9,7.8l0,0c5.2,5.2,8.3,12.2,8.3,19.9c0,7.9-3.1,14.9-8.3,19.9l0,0c-4.8,5.2-11.6,8.4-19.9,8.4c-7.5,0-14.6-3.7-19.4-8.4l-1.1-0.9c-4.4-5.1-7.5-11.4-7.5-19.1C144.5,700,147.6,693,153.1,687.8L153.1,687.8z M724,678.5L724,678.5c0,18.8,7.6,36.1,20.4,48.4c12.1,12.4,29.3,20.3,48,20.3c19.1,0,36.4-7.9,48.5-20.3c12.5-12.2,20.2-29.5,20.2-48.4c0-18.3-7.2-34.5-18.7-47.4l-1.5-1c-12.1-12.4-29.4-20.2-48.5-20.2c-18.7,0-35.9,7.8-48,20.2C731.6,642.3,724,659.6,724,678.5L724,678.5z M773.1,658.8L773.1,658.8c4.7-5,11.6-8.2,19.2-8.2c7.9,0,14.9,3.2,19.9,8.2l1.3,0.8c4.1,4.8,7.1,11.4,7.1,18.9c0,7.6-3.7,14.9-8.7,19.7c-4.8,4.9-11.8,8.2-19.7,8.2c-7.6,0-14.5-3.3-19.2-8.2c-5.2-4.8-8.7-12.1-8.7-19.7C764.5,670.9,767.9,663.5,773.1,658.8L773.1,658.8z M805.6,117.3L805.6,117.3c-4.8-17.9-23.8-28.8-41.4-23.5l-200.6,53.1c-5.9-9.1-16.4-14.8-28.4-14.8H44c-18.9,0-34,14.8-34,33.5v707.8c0,19,15.1,34.2,34,34.2h491.3c19,0,34-15.2,34-34.2V446.8l116.8,435.6c4.8,18.1,23.2,28.8,41.5,23.9l237.6-63.6c17.7-4.5,28.3-23.4,23.8-41.3L805.6,117.3L805.6,117.3z M269.5,839.6L269.5,839.6H78V199.2h191.5V839.6L269.5,839.6z M501.8,839.6L501.8,839.6H310V199.2h191.8V839.6L501.8,839.6z M742.8,832.3L742.8,832.3L576.8,213.7l172-46.2L915,786.2L742.8,832.3L742.8,832.3z M412.6,776.5L412.6,776.5c18.9,0,35.7-8,48.4-20.3c12.7-12.4,20.3-29.5,20.3-48.5c0-18.1-7.2-35-18.7-47.5l-1.7-0.9c-12.6-12.5-29.5-20.1-48.4-20.1c-18.7,0-35.7,7.5-48.4,20.1c-12.8,12.1-20.1,29.5-20.1,48.4c0,19.1,7.3,36.1,20.1,48.5C376.8,768.5,393.8,776.5,412.6,776.5L412.6,776.5z M393,687.8L393,687.8c4.8-5,11.8-7.8,19.6-7.8c7.8,0,15,2.8,20,7.8l0.6,1c4.4,4.9,7.3,11.3,7.3,18.9c0,7.9-3.3,14.9-8.1,19.9c-4.8,4.7-12.1,8.4-19.9,8.4c-7.8,0-14.9-3.7-19.6-8.4c-5.2-5-8.4-12.1-8.4-19.9C384.5,700,387.7,693,393,687.8L393,687.8z M412.6,542.6L412.6,542.6c11.1,0,20.7-9.1,20.7-20.7V278c0-11.5-9.5-20.2-20.7-20.2c-11.2,0-20.3,8.7-20.3,20.2V522C392.3,533.5,401.4,542.6,412.6,542.6L412.6,542.6z M677.9,246.9L677.9,246.9c-10.6,2.5-17.1,13.7-14.4,24.6l63.5,236.2c2.8,10.9,14,17.3,25.1,14.2c11-2.5,17.3-13.8,14-24.5l-63.4-236.3C700.2,250.4,689.1,243.8,677.9,246.9L677.9,246.9z"
      />
    </g>
  </svg> -->
  <!-- width="980033.94"
      height="835591.75" -->
  <!-- style="color: #000000" -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"
    />
  </svg>
</template>
<script>
export default {
  name: "Nod",
};
</script>
