<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :class="classes"
    fill="currentColor"
    viewBox="0 0 1024 1024"
    stroke="currentColor"
  >
    <path
      d="M1006.269149 937.530428a13.996705 13.996705 0 0 1-14.515101 5.287644l-99.179618-23.03754-34.131225 94.596992a14.950555 14.950555 0 0 1-12.628138 9.621439h-1.513718a14.162592 14.162592 0 0 1-12.628139-7.547853l-100.506712-185.399322c-16.961933 1.700341-27.14324 1.513718-44.872401-0.373245l-99.926108 184.818718a14.307743 14.307743 0 0 1-13.001384 7.568589h-1.140472a14.556574 14.556574 0 0 1-12.254893-9.642175l-33.737244-94.949502-99.386976 22.456936a14.743196 14.743196 0 0 1-14.701725-5.474267 14.701725 14.701725 0 0 1-1.119736-15.862933l113.694719-205.969295-0.95385-2.073586a202.900388 202.900388 0 0 1-17.915782-84.021704c0.186623-112.699398 91.6525-203.874973 204.206747-203.874973h0.933113c113.134851 0.373245 204.39337 92.316048 203.833502 205.388691 0 29.652279-6.594003 57.210237-18.662274 84.208327l111.621133 208.416126c2.446831 5.101022 2.073586 11.342515-1.513718 15.862933z m-442.710606-172.356466l-58.081143 104.405053 45.266382-10.202043a4.997342 4.997342 0 0 1 5.826777 3.214059l15.282328 43.026909 52.980122-96.649843c-25.069654-13.789347-41.098474-23.224163-61.274466-43.794135z m146.872095-275.641784h-0.559868a137.851996 137.851996 0 0 0-137.83126 137.437278c-0.373245 76.07987 61.274466 138.391128 137.271392 138.764374a138.266713 138.266713 0 0 0 138.391128-137.623902 137.976411 137.976411 0 0 0-137.271392-138.57775z m146.519585 275.455161c-23.39005 23.410786-42.425569 34.732565-71.103263 50.595498l60.714597 111.745548 17.542538-49.08178a6.946513 6.946513 0 0 1 7.921098-4.333795l51.466404 11.695025-66.541374-120.620496zM192.863578 711.551028h246.259071v64.384845H192.863578v-64.384845z m0-113.653247v-64.198222h246.259071v64.198222H192.863578z m0-420.046312h505.49879v64.364109H192.863578V177.851469z m0 177.830734h360.140413v64.384844H192.863578v-64.384844zM849.40237 63.990863H78.608991V889.402497h276.035765v64.177486H83.129408c-37.697793 0-68.635696-31.70513-68.635696-70.978848V70.978848c0-39.06636 30.75128-70.978848 68.635696-70.978848H844.861217c37.718529 0 68.635696 31.70513 68.635696 70.978848v303.386364h-64.094543V63.990863z"
    />
  </svg>
</template>

<script>
export default {
  name: "Contract",
  props: ["classes"],
};
</script>
