<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    x="0px"
    y="0px"
    :class="classes"
    viewBox="0 0 1000 1000"
    enable-background="new 0 0 1000 1000"
    xml:space="preserve"
  >
    <g>
      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
        <path
          d="M9085.7,4986.8c-61.3-38.3-109.2-141.7-216.4-465.3l-42.1-128.3l-122.5,11.5c-212.5,19.2-172.3,103.4-744.9-1551c-271.9-787-492.1-1434.2-488.3-1438c17.2-11.5,1078.1-373.4,1083.8-369.6c1.9,3.8,151.3,427,327.4,942.1c365.7,1055.1,319.8,980.4,444.2,716.1c78.5-170.4,120.6-379.1,107.2-528.5c-9.6-84.2-132.1-465.3-415.5-1282.9c-402.1-1158.5-404-1164.2-379.2-1240.8c59.4-168.5,285.3-216.4,396.4-80.4c32.5,40.2,806.1,2278.6,838.7,2426.1c46,220.2,30.6,446.2-53.6,708.5c-55.5,174.3-216.4,476.8-325.5,612.7c-49.8,63.2-91.9,126.4-91.9,139.8c0,13.4,34.5,128.3,76.6,252.8c84.3,247,86.2,312.1,19.1,398.3c-21.1,26.8-82.3,63.2-134,80.4c-53.6,17.2-95.7,42.1-95.7,53.6s40.2,137.9,90,279.6c99.6,287.2,99.6,323.6,9.6,425.1C9300.1,5027,9173.7,5044.2,9085.7,4986.8z"
        />
        <path
          d="M7299.1,940.8C7149.8,542.5,6027.7-2751,5999-2875.5c-78.5-337-103.4-591.7-113-1202.5l-9.6-587.9h-128.3c-68.9,0-241.3,13.4-381.1,30.6c-693.2,80.4-1039.8,268.1-1037.8,563c0,59.4,55.5,174.2,143.6,294.9c229.8,317.9-134,381-800.4,137.9c-97.7-36.4-279.6-113-405.9-170.4c-283.4-130.2-405.9-166.6-549.6-166.6c-132.1,0-181.9,21.1-208.7,90c-49.8,130.2,231.7,461.5,706.6,836.8c130.2,103.4,270,220.2,310.2,260.4c220.2,220.2,153.2,337-191.5,333.2c-317.9-5.7-792.7-124.4-1736.7-440.4c-660.6-220.2-863.6-275.7-1016.8-275.7c-158.9,0-231.7,53.6-231.7,172.3c-1.9,103.4,59.4,210.6,178.1,319.8C719.8-2504,986-2404.4,1256-2408.3c151.3-1.9,275.7,28.7,304.5,76.6c36.4,57.5-361.9,67-563,13.4c-285.3-74.7-702.7-338.9-831-524.6C1.8-3082.3,155-3292.9,495.8-3291c80.4,0,237.4,19.2,348.5,42.1c185.7,38.3,367.6,95.7,1302.1,417.4c365.7,126.4,742.9,210.6,1024.4,225.9c204.9,11.5,237.4-1.9,203-84.2c-30.6-74.7-111.1-147.4-459.6-417.4c-505.5-388.7-672.1-587.9-672.1-796.6c0-172.3,126.4-231.7,404-189.6c132.1,21.1,262.3,63.2,955.5,306.4c298.7,105.3,549.6,162.8,624.2,143.6c68.9-17.2,57.5-72.8-49.8-256.6c-111.1-187.6-122.5-277.6-55.5-415.5c145.5-302.5,672.1-465.3,1501.2-465.3h270l95.7,101.5c423.2,438.5,861.7,1035.9,1058.9,1436.1c63.2,128.3,298.7,779.3,681.7,1889.9c321.7,932.5,607,1754,633.8,1826.7c24.9,72.8,44.1,134,42.1,135.9c-7.6,5.7-1070.4,373.4-1079.9,373.4C7318.3,982.9,7308.7,963.7,7299.1,940.8z"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Signature",
  props: ["classes"],
};
</script>
