<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :class="classes"
    width="400"
    height="400"
    viewBox="0, 0, 400,400"
    fill="currentColor"
  >
    <g id="svg">
      <path
        d="M85.645 61.197 L 84.211 62.744 84.211 76.655 L 84.211 90.567 70.322 90.751 L 56.433 90.936 53.671 92.559 C 51.879 93.612,50.337 95.154,49.285 96.945 L 47.661 99.708 47.508 216.054 C 47.335 346.732,46.991 336.483,51.695 340.818 C 53.263 342.264,55.165 343.389,56.526 343.677 C 59.469 344.300,339.373 344.297,342.318 343.674 C 345.409 343.021,350.039 338.391,350.692 335.301 C 350.955 334.058,351.170 280.541,351.170 216.374 L 351.170 99.708 349.859 97.256 C 346.784 91.503,343.880 90.651,327.339 90.647 L 314.620 90.643 314.620 76.582 L 314.620 62.520 313.184 61.085 L 311.749 59.649 287.307 59.668 C 256.584 59.691,259.649 57.753,259.649 77.155 L 259.649 90.643 199.415 90.643 L 139.181 90.643 139.181 76.582 L 139.181 62.520 137.746 61.085 L 136.310 59.649 111.695 59.649 L 87.079 59.649 85.645 61.197 M207.628 164.433 C 205.684 182.279,204.094 197.185,204.094 197.558 C 204.094 198.060,211.653 198.274,233.297 198.386 L 262.501 198.538 225.256 251.634 C 202.707 283.780,187.946 304.316,187.845 303.681 C 187.754 303.104,189.267 288.126,191.208 270.397 C 193.149 252.668,194.737 237.868,194.737 237.508 C 194.737 237.035,186.584 236.811,165.448 236.701 L 136.160 236.550 173.486 183.357 C 194.015 154.102,210.891 130.574,210.987 131.075 C 211.084 131.575,209.572 146.586,207.628 164.433 "
        stroke="none"
        fill="currentColor"
        fill-rule="evenodd"
      ></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: "Battery",
  props: ["classes"],
};
</script>
