<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    :class="classes"
    fill="currentColor"
    xml:space="preserve"
  >
    <circle xmlns="http://www.w3.org/2000/svg" cx="12" cy="12" r="4.3" />
    <path
      xmlns="http://www.w3.org/2000/svg"
      d="M13,4.069V2h-2v2.069C7.389,4.522,4.523,7.389,4.069,11H2v2h2.069c0.454,3.611,3.319,6.478,6.931,6.931V22h2v-2.069 c3.611-0.453,6.478-3.319,6.931-6.931H22v-2h-2.069C19.478,7.389,16.611,4.522,13,4.069z M12,18c-3.309,0-6-2.691-6-6s2.691-6,6-6 s6,2.691,6,6S15.309,18,12,18z"
    />
  </svg>
</template>

<script>
export default {
  name: "Compass",
  props: ["classes"],
};
</script>
