<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :class="classes"
    viewBox="0 0 120 120"
    fill="currentColor"
  >
    <path
      d="M55.13,6.31a6.31,6.31,0,0,1,12.62,0V53.59h48.82a6.32,6.32,0,0,1,0,12.63H6.31a6.32,6.32,0,0,1,0-12.63H55.13V6.31Zm29.8,98.58a6.32,6.32,0,1,1,0,12.63H38a6.32,6.32,0,1,1,0-12.63Zm16.55-25.65a6.32,6.32,0,0,1,0,12.63H21.4a6.32,6.32,0,0,1,0-12.63Z"
    />
  </svg>
</template>

<script>
export default {
  name: "Grounding",
  props: ["classes"],
};
</script>
