<template>
  <svg
    :class="classes"
    viewBox="0 0 1000 1000"
    enable-background="new 0 0 1000 1000"
    xml:space="preserve"
    fill="currentColor"
  >
    <g>
      <path
        d="M857.2,610.9c-4.7-32.8-30.1-58.4-62.7-66.1c-126.9-29.7-158.7-102.8-164-183.8c-22.5-4.2-62.5-8.7-130.5-8.7s-108,4.5-130.5,8.7c-5.4,81-37.2,154.1-164,183.8c-32.6,7.7-58,33.2-62.7,66.1l-24.5,169.5c-8.6,59.7,35.2,113.5,96.1,113.5h571.1c60.9,0,104.8-53.8,96.1-113.5L857.2,610.9L857.2,610.9z M500,770.4c-68.7,0-124.4-55.1-124.4-123.1c0-67.9,55.7-123.1,124.4-123.1c68.7,0,124.4,55.1,124.4,123.1C624.4,715.2,568.6,770.4,500,770.4z M989.9,303.1c-1.2-73.8-189.1-196.9-489.9-196.9c-300.8,0-488.7,123.1-489.9,196.9C9,376.9,11.2,473,135,457c144.8-18.8,135.9-69.3,135.9-141.6c0-50.4,117.8-62.6,229.2-62.6s229.1,12.2,229.2,62.6c0,72.3-8.9,122.8,135.9,141.6C988.8,473,991,376.9,989.9,303.1z"
      />
    </g>
  </svg>
</template>

<script>
export default {
  name: "Telephone",
  props: ["classes"],
};
</script>
